<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Vue框架实现学生管理系统</title>
		<script src="js/vue.js"></script>
		<script src="js/vue-router.js"></script>
		<script src="js/element-ui.js"></script>
		<script src='js/jquery-3.0.0.min.js'></script>
		<link rel="stylesheet" href="css/element-ui.css">
		
		<!--联网时解决文字图标无法显示的问题-->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		
		<!--日期格式化库-->
        <script src="js/moment.min.js"></script>
		<style>
			body{
				margin: 0px;
				padding: 0px;
				font-family:"宋体";
			}
			a,li{
				list-style: none;
				text-decoration: none;
				color: black;
				font-size: 17px;
			}
			
			table th > .cell{
				text-align: center;
			}
			.content{
				margin-top: -5px;
				margin:10px auto
			}
			.el-input{
				width: 200px;
				position: relative;
				left:30px;
		   }
		   .el-radio{
		   	   margin-left: 54px;
		   }
		   .el-dialog{
		   	    width:350px;
		   }
		</style>
	</head>
	<body>
		<div id="app">
		    <el-row class="tac">
      <!--左侧导航-->
		      <el-col :span="3">
		        <el-menu default-active="2" class="el-menu-vertical-demo" style="height: 657px;">
		          <el-menu-item index="2"   style="margin-top:100px;">
		            <i class="el-icon-menu"></i>
		            <router-link to='/student'>学生模块</router-link>
		          </el-menu-item>
		          <el-menu-item index="3" style="margin-top:80px;">
		            <i class="el-icon-setting"></i>
		            <router-link to='/course'>课程模块</router-link>
		          </el-menu-item>
		          <el-menu-item index="3" style="margin-top:80px;">
		            <i class="el-icon-setting"></i>
		            <router-link to='/clazz'>班级模块</router-link>
		          </el-menu-item>
		          <el-menu-item index="3" style="margin-top:80px;">
		            <i class="el-icon-setting"></i>
		            <router-link to='/studentCourse'>选课模块</router-link>
		          </el-menu-item>
		        </el-menu>
		      </el-col>
      <!--左侧导航结束-->
      <!--右侧内容-->
      <el-col :span="21">
        <router-view></router-view>
      </el-col>
    </el-row>
         
		</div>
		
		<script>
			
	    //1.自定义组件
		  //1-01:学生模块
		var Student={
		  template:`
		  	<div class="content"  style="width:900px;">
		  	  <h2>学生信息管理</h2>
		  	    <el-menu class="el-menu-demo" mode="horizontal">
				  <el-menu-item index="1"><router-link to='/student/info'>档案信息</router-link>
                  </el-menu-item>
				  <el-menu-item index="2"><router-link to='/student/grade'>成绩信息</router-link>
				  </el-menu-item>
				</el-menu>
		  	   <router-view></router-view>
		  	 </div>
		  	`
		  };
		  
		  //1-02:学生档案管理模块
		  var StudentInfo={
		  	template:`
	  	    <div>
	  	      <el-button type="text" style="margin-left:20px;" @click='handleSingleImport'>
	  	      单条信息录入</el-button>
	  	      <el-button type="text" @click='handleMultipleImport'>批量信息录入</el-button>
		  	  <el-table :data="studentInfo" style="width: 900px;text-align:center;">
                <el-table-column prop="name" label="姓名" width="135"></el-table-column>
                <el-table-column prop="gender" label="性别" width="135"></el-table-column>
                <el-table-column prop="birth" label="出生年月" :formatter='dateFormat' width="135"></el-table-column>
                <el-table-column prop="class_id" label="所在班级" width="135"></el-table-column>
                <el-table-column prop="password" label="密码" width="135" @click="show=!show"></el-table-column>
                <el-table-column label="操作">
			      <template slot-scope="scope">
			        <el-button size="small" type="primary" icon="edit" @click="handleEdit(scope.$index, scope.row)">
			        <i>编辑</i></el-button>
			        <el-button size="small" type="danger" icon="delete"
			        @click="handleDelete(scope.$index, scope.row)"><i>删除</i></el-button>
			      </template></el-table-column>
              </el-table>
              
              <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
			  <el-form :model="form">
			    <el-form-item label="姓名">
			      <el-input v-model="form.name" auto-complete="off" size="20"  style="left:56px;"></el-input>
			    </el-form-item>
			    <el-form-item label="性别">
			      <el-radio class="radio" v-model="form.gender" label="男">男</el-radio>
                  <el-radio class="radio" v-model="form.gender" label="女">女</el-radio>
			    </el-form-item>
			    <el-form-item label="出生年月">
			       <el-input v-model="form.birth" auto-complete="off"></el-input>
              </el-form-item>
              
			  <el-form-item label="所在班级">
                <el-select v-model="form.class_id" placeholder="请选择班级">
                   <el-option v-for="item in classes" :key="item.id" :label="item.name"  :value='item.id'></el-option>
                </el-select>
            </el-form-item>
			    
			    <el-form-item label="密码">
			      <el-input v-model="form.password" auto-complete="off" style="left:56px;"></el-input>
			    </el-form-item>
			  </el-form>
			  <div slot="footer" class="dialog-footer">
			    <el-button @click="dialogFormVisible = false">取 消</el-button>
			    <el-button type="primary" @click='handleSubmit'>确 定</el-button>
			  </div>
			</el-dialog>
			</div>
		    
	  	`,
	methods:{
		//生日格式修改
		/*dateFormat:function(row, column) {  
            var date = row[column.property];  
            if (date == undefined) {  
              return "";  
            }  
            return moment(date).format("YYYY-MM-DD");  
        },*/
		//1-07-->单个录入
		handleSingleImport:function(){
			//1-07-1:单击是弹出对话框
			this.dialogFormVisible=true;
			this.dialogTitle="单条信息录入";
			//1-07-2:开始时清空对话框中的内容
			this.form={};
			//1-07-3:在对话框的确定按钮事件中判断ID是否存在，不存在时执行sava操作
		},//单个录入结束位置
		
		//1-08--》批量例如学生信息
		handleMultipleImport:function(){
			this.dialogFormVisible=true;
			this.dialogTitle="批量信息录入";
			this.form={};
		},//批量录入结束位置
		
	   	//1-06-》弹出框的确认按钮：修改学生信息
	    handleSubmit:function(){
	  	     	//2-05:修改班级信息后提交：
	  	     	this.dialogFormVisible=false;
	  	     	var vm=this;
	  	     	var url="http://192.168.125.130:3000/student/update";
	  	     	if(!vm.form.id){
	  	     		url="http://192.168.125.130:3000/student/save";
	  	     	}
	  	     	$.post(url,this.form,function(data){
	    		if(data.affectedRows>0){
	    			vm.$message({
	      			type:'success',
	      			message:'操作成功!'
	      		   });
	      		 //修改成功后刷新页面
	      		  var url ='http://192.168.125.130:3000/student/findAll';
			      $.getJSON(url,function(data){
			        vm.studentInfo = data;
			      });
	    		}
	    	  })
	  	     },//修改学生信息的确认按钮结束位置
	    
	   	//1-04--》删除按钮：删除该条学生的信息
	   	handleDelete:function(index,row){
	   	//询问是否确定删除
	 	 this.$confirm('此操作将永久删除该条信息, 是否继续?', '提示', {
	      confirmButtonText: '确定',
	      cancelButtonText: '取消',
	      type: 'warning'
	    }).then(() => {
	      var url="http://192.168.125.130:3000/student/batchDelete";
	      var vm=this;
	      $.post(url,{
	      	//单击确定时获取该行的id值
	      	ids:JSON.stringify([row.id])
	      },function(data){
	      	//如果生效行大于一
	      	if(data.affectedRows>0){
	      		//即表明选中了该行，确认删除
	      		vm.$message({
	      			type:'success',
	      			message:'删除成功!'
	      		});
	      	}
	      });
	      //确认删除成功之后冲新获取学生表的数据，加载，即刷新页面
	      var url ='http://192.168.125.130:3000/student/findAll';
	      var vm = this;
	      $.getJSON(url,function(data){
	        vm.studentInfo = data;
	      });
	      }).catch(() => {
	      this.$message({
	        type: 'info',
	        message: '已取消删除'
	      });          
	      });
	    },//删除学生信息按钮结束位置
	     
		 //1-05--》编辑按钮：修改该行学生的信息
		handleEdit:function(index,row){
          this.dialogFormVisible = true;
          this.dialogTitle = '修改学生信息';
          
          this.form = row;
          //如果直接在v-model中绑定class_id失效，使用如下方式可以解决
          this.form.classId = row.class.id;
        }
		
		},//methods结束位置

       //1-03：用jquery加载后台数据，并追加到学生档案信息管理模块
	   created:function(){
        //加载学生的数据
        var url ='http://192.168.125.130:3000/student/findAll';
        var vm = this;
        $.getJSON(url,function(data){
        	data.forEach(function(item,index){
        		var birth = item.birth?item.birth.slice(0,item.birth.indexOf("T")):'';
	           item.birth = birth;
        	})
          vm.studentInfo = data;
        });
        $.getJSON('http://192.168.125.130:3000/clazz/findAll',function(data){
          vm.classes = data;
        });


      },
	         
         
	    data:function(){
	     	return {
	     		studentInfo:[],
	     		dialogFormVisible:false,
	     		form:{},
	     		dialogTitle:'',
	     		pickerOptions0: {
		            disabledDate(time) {
		              return time.getTime() < Date.now() - 8.64e7;
		            }
          		}
	     	}
	    },
    };//studentInfo结束位置
    
    
	  var StudentGrade={
	    template:`
	    <div>
	      <h3>学生成绩管理</h3>
	    </div>`
	  };
	  
	  
	  //2-01:课程模块
	  var Course={
	  	template:`
		  	<div class="content"  style="width:699px;">
		  	  <h2>课程信息管理</h2>
		  	    <el-menu class="el-menu-demo" mode="horizontal">
				  <el-menu-item index="1"><router-link to='/course/info'>课程信息</router-link>
                  </el-menu-item>
				</el-menu>
		  	   <router-view></router-view>
		  	 </div>
	    `};
	  //2-02:课程信息管理模块
	  var CourseInfo={
	  	template:`
	  	<div>
	  	      <el-button type="text" style="margin-left:20px;" @click='handleSingleImport'>
	  	      单条信息录入</el-button>
	  	      <el-button type="text" @click='handleMultipleImport'>批量信息录入</el-button>
		  	  <el-table :data="courseInfo" style="width: 700px;text-align:center;">
                <el-table-column prop="name" label="课程名称" width="150"></el-table-column>
                <el-table-column prop="credit" label="学分" width="150"></el-table-column>
                <el-table-column label="操作">
			      <template slot-scope="scope">
			        <el-button size="small" type="primary" icon="edit" @click="handleEdit(scope.$index, scope.row)">
			        <i>编辑</i></el-button>
			        <el-button size="small" type="danger" icon="delete"
			        @click="handleDelete(scope.$index, scope.row)"><i>删除</i></el-button>
			      </template></el-table-column>
              </el-table>
              <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
			  <el-form :model="form">
			    <el-form-item label="课程名称">
			      <el-input v-model="form.name" auto-complete="off"></el-input>
			    </el-form-item>
			    <el-form-item label="学分">
			      <el-input v-model="form.credit" auto-complete="off" style="left:57px;"></el-input>
			    </el-form-item>
			  </el-form>
			  <div slot="footer" class="dialog-footer">
			    <el-button @click="dialogFormVisible = false">取 消</el-button>
			    <el-button type="primary" @click='handleSubmit'>确 定</el-button>
			  </div>
			</el-dialog>
			</div>
	       `,
	       methods:{
	       	 //课程信息单条录入
	  	     handleSingleImport:function(){
	  	     	this.dialogFormVisible=true;
	  	     	this.dialogTitle="单条信息录入";
			    this.form={};
	  	     },
	  	     //课程信息批量录入
	  	     handleMultipleImport:function(){
	  	     	this.dialogFormVisible=true;
	  	     	this.dialogTitle="批量信息录入";
			    this.form={};
	  	     },
	  	     //修改和单条录入课程信息的提交
	  	     handleSubmit:function(){
	  	     	//2-05:修改课程信息后提交：
	  	     	this.dialogFormVisible=false;
	  	     	var vm=this;
	  	     	var url="http://192.168.125.130:3000/course/update";
	  	     	if(!vm.form.id){
	  	     		url="http://192.168.125.130:3000/course/save";
	  	     	}
	  	     	$.post(url,this.form,function(data){
	    		if(data.affectedRows>0){
	    			vm.$message({
	      			type:'success',
	      			message:'操作成功!'
	      		   });
	      		 //修改成功后刷新页面
	      		  var url ='http://192.168.125.130:3000/course/findAll';
			      $.getJSON(url,function(data){
			        vm.courseInfo = data;
			      });
	    		}
	    	  })
	  	     },//确认按钮结束位置
	  	     
	  	     //2-04:编辑按钮：修改课程信息
	  	     handleEdit:function(index,row){
	  	     	this.dialogFormVisible=true;
	  	     	this.dialogTitle="课程信息修改";
	  	     	this.form=row;
	  	     },
	  	     //删除按钮：删除该条课程信息
	  	     handleDelete:function(index,row){
	   	//询问是否确定删除
	 	 this.$confirm('此操作将永久删除该条信息, 是否继续?', '提示', {
	      confirmButtonText: '确定',
	      cancelButtonText: '取消',
	      type: 'warning'
	    }).then(() => {
	      var url="http://192.168.125.130:3000/course/batchDelete";
	      var vm=this;
	      $.post(url,{
	      	//单击确定时获取该行的id值
	      	ids:JSON.stringify([row.id])
	      },function(data){
	      	//如果生效行大于一
	      	if(data.affectedRows>0){
	      		//即表明选中了该行，确认删除
	      		vm.$message({
	      			type:'success',
	      			message:'删除成功!'
	      		});
	      	}
	      });
	      //确认删除成功之后冲新获取学生表的数据，加载，即刷新页面
	      var url ='http://192.168.125.130:3000/course/findAll';
	      var vm = this;
	      $.getJSON(url,function(data){
	        vm.courseInfo = data;
	      });
	      }).catch(() => {
	      this.$message({
	        type: 'info',
	        message: '已取消删除'
	      });          
	      });
	    },
	      },
		  data:function(){
		     	return {
		     		courseInfo:[],
		     		dialogFormVisible:false,
		     		form:{},
		     		classes:[],
		     		dialogTitle:''
		     	}
		    },
		  
		  //2-03：加载后台的课程表的数据
		  created:function(){
		  	var url="http://192.168.125.130:3000/course/findAll";
		  	var vm=this;
		  	$.getJSON(url,function(data){
		  		vm.courseInfo=data;
		  	});
		  	$.getJSON('http://192.168.125.130:3000/clazz/findAll',function(data){
                vm.classes = data;
             });
		    },
		  }//courseInfo结束位置
	  
	  //班级模块
	  var Clazz={
	  	template:`
		  	<div class="content"  style="width:699px;">
		  	  <h2>班级信息管理</h2>
		  	    <el-menu class="el-menu-demo" mode="horizontal">
				  <el-menu-item index="1"><router-link to='/clazz/info'>班级信息</router-link>
                  </el-menu-item>
				</el-menu>
		  	   <router-view></router-view>
		  	 </div>`
		 };//Clazz结束位置
	  
	  var ClazzInfo={
	  	template:`
	  	<div>
	  	      <el-button type="text" style="margin-left:20px;" @click='handleSingleImport'>
	  	      单条信息录入</el-button>
	  	      <el-button type="text" @click='handleMultipleImport'>批量信息录入</el-button>
		  	  <el-table :data="clazzInfo" style="width: 700px;text-align:center;">
                <el-table-column prop="name" label="班级名称" width="150"></el-table-column>
                <el-table-column label="操作">
			      <template slot-scope="scope">
			        <el-button size="small" type="primary" icon="edit" @click="handleEdit(scope.$index, scope.row)">
			        <i>编辑</i></el-button>
			        <el-button size="small" type="danger" icon="delete"
			        @click="handleDelete(scope.$index, scope.row)"><i>删除</i></el-button>
			      </template></el-table-column>
              </el-table>
              <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
			  <el-form :model="form">
			    <el-form-item label="班级名称">
			      <el-input v-model="form.name" auto-complete="off"></el-input>
			    </el-form-item>
			  </el-form>
			  <div slot="footer" class="dialog-footer">
			    <el-button @click="dialogFormVisible = false">取 消</el-button>
			    <el-button type="primary" @click='handleSubmit'>确 定</el-button>
			  </div>
			</el-dialog>
			</div>
	       `,
	       methods:{
	       	 //课程信息单条录入
	  	     handleSingleImport:function(){
	  	     	this.dialogFormVisible=true;
	  	     	this.dialogTitle="单条信息录入";
			    this.form={};
	  	     },
	  	     //课程信息批量录入
	  	     handleMultipleImport:function(){
	  	     	this.dialogFormVisible=true;
	  	     	this.dialogTitle="批量信息录入";
			    this.form={};
	  	     },
	  	     //修改和单条录入课程信息的提交
	  	     handleSubmit:function(){
	  	     	//2-05:修改课程信息后提交：
	  	     	this.dialogFormVisible=false;
	  	     	var vm=this;
	  	     	var url="http://192.168.125.130:3000/clazz/update";
	  	     	if(!vm.form.id){
	  	     		url="http://192.168.125.130:3000/clazz/save";
	  	     	}
	  	     	$.post(url,this.form,function(data){
	    		if(data.affectedRows>0){
	    			vm.$message({
	      			type:'success',
	      			message:'操作成功!'
	      		   });
	      		 //修改成功后刷新页面
	      		  var url ='http://192.168.125.130:3000/clazz/findAll';
			      $.getJSON(url,function(data){
			        vm.clazzInfo = data;
			      });
	    		}
	    	  })
	  	     },//确认按钮结束位置
	  	     
	  	     //2-04:编辑按钮：修改班级信息
	  	     handleEdit:function(index,row){
	  	     	this.dialogFormVisible=true;
	  	     	this.dialogTitle="班级信息修改";
	  	     	this.form=row;
	  	     },
	  	     //删除按钮：删除该条班级信息
	  	     handleDelete:function(index,row){
	  	     	this.$confirm('此操作将永久删除该条信息, 是否继续?', '提示', {
		          confirmButtonText: '确定',
		          cancelButtonText: '取消',
		          type: 'warning'
		        }).then(() => {
		          var url="http://192.168.125.130:3000/clazz/batchDelete";
		          var vm=this;
		          $.post(url,{
		          	ids:JSON.stringify([row.id])
		          },function(data){
		          	if(data.affectedRows>0){
		          		vm.$message({
		      			type:'success',
		      			message:'删除成功!'
		      		   });
		      		}
		          });
		          //删除成功后刷新页面
		      		   var url='http://192.168.125.130:3000/clazz/findAll';
		      		   var vm=this;
		      		   $.getJSON(url,function(data){
		      		   	vm.clazzInfo=data;
		      		   });
		        }).catch(() => {
		          this.$message({
		            type: 'info',
		            message: '已取消删除'
		          });          
		        });
	  	     },
	      },
		  data:function(){
		     	return {
		     		clazzInfo:[],
		     		dialogFormVisible:false,
		     		form:{},
		     		dialogTitle:''
		     	}
		    },
		  
		  //2-03：加载后台的课程表的数据
		  created:function(){
		  	var url="http://192.168.125.130:3000/clazz/findAll";
		  	var vm=this;
		  	$.getJSON(url,function(data){
		  		vm.clazzInfo=data;
		  	})
		    },
	  };//clazzInfo结束位置
	  
	  //选课模块
	 var StudentCourse = {
     
    }
    //课程信息
    var SCList = {
    
    }
    //个人选课
    var SelfCourse = {
    
    }//StudentCourseList结束位置
	 
	//2.创建vuerouter实例对象
	var router=new VueRouter({
		routes:[{
			path:'/student',
			component:Student,
			children:[{
				path:'info',
				component:StudentInfo
			},{
				path:'grade',
				component:StudentGrade
			}]
		},{
			path:'/course',
			component:Course,
			children:[{
				path:'info',
				component:CourseInfo
			}]
		},{
			path:'/clazz',
			component:Clazz,
			children:[{
				path:'info',
				component:ClazzInfo
			}]
		},{
        path:'/sc',
        component:StudentCourse,
       /* children:[{
          path:'info',
          component:SCList
        },{
          path:'selfCourse',
          component:SelfCourse
        }]*/
      }]
	});
	
	//3.在vue中使用router
	new Vue({
		el:'#app',
		router:router,
	    data:{
	      isCollapse: true,
	      show:true
	    },
	    methods:{
	      handleOpen(key, keyPath){},
	      handleClose(key, keyPath){}
	    }
	  });
		  
		</script>
	</body>
</html>
